<% content_for :title do %>statuspage.io widget example<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="statuspageio_linode" data-view="Statuspageio" data-title="Linode"></div>
    </li>
  </ul>
  <ul>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="statuspageio_disqus" data-view="Statuspageio" data-title="Disqus"></div>
    </li>
  </ul>
</div>
